//**
// Project Buttons
//**

.btn {
  text-decoration: none;
  color: $primary-color;
  font-size: 0.9em;
  padding: 6px 25px;
  border: 0;
  cursor: pointer;
  width: 100%;
  margin: 2px 0;
  display: inline-block;
  text-align: center;
  @include transition(all, 0.15s, ease-in-out);
  @include border-radius(3px);

  @include mobile {
    width: auto;
  }

  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }
}

// Primary Button
.btn--primary {
  @extend .btn; // load the btn defaults
  border: 1px solid $primary-color;
  background: $primary-color;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background: darken($primary-color, 4%);
    border: 1px solid darken($primary-color, 4%);
  }
}

// Inverse Button
.btn--inverse {
  @extend .btn; // load the btn defaults
  border: 1px solid $primary-color;
  color: $primary-color;

  &:hover,
  &:focus {
    background: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
  }
}
