//**
// Project Settings
//**

// Project Responsive Breakpoints

$mobile-break: 480px; /* Feel free to change - these are referenced throughout the site */
$tablet-break: 720px;
$desktop-break: 960px;
$large-desktop-break: 1170px;

// Project Color Variables

$primary-color: #1271db;
$secondary-color: #233e5b;
$tertiary-color: #aaa;
$body-text-color: #3c3c3c;

$project-custom-colour: #fff;

// Project Font Variables

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$times: "Times New Roman", Georgia, Serif;;
