//**
// Typographic elements
//**

// Global Heading Resets

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.5rem;
  color: inherit;
  margin-top: 0.333rem;
  margin-bottom: 0.85rem;
  font-weight: 700;
}

h1 {
  font-size: $f-xl;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: $f-l;
}

h3 {
  font-size: $f-m;
}

h4 {
  font-size: $f-s;
}

// Paragraphs

p, blockquote {
  font-size: $f-base;
  margin: 0 0 0.85rem 0;
}

// Anchors

a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 1px solid $primary-color;

  &:hover {
    color: lighten($primary-color, 15%);
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid lighten($primary-color, 15%);
    cursor: pointer;
  }
}

// Modifiers

// Create modifier classes based on map in config
@each $fontsize, $size in $fontsizes {
 .f--#{$fontsize} {
   font-size: $size;
 }
}
