//**
// Project Mixins
//**

// Box Sizing

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// Transitions

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Border Radius

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

// Responsive mixins
/* Breakpoints are set in config.scss - used like @include desktop { styles here } - see https://davidwalsh.name/write-media-queries-sass */

@mixin mobile {
  @media (min-width: #{$mobile-break}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-break}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-break}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-break}) {
    @content;
  }
}
